.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 90%;
    margin: 0 auto 1rem;
    position: relative;
    
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../img/footer.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 2px;

    &::before {
        content: '';

        width: 0px;
        height: 0px;

        position: absolute;
        top: 0px;
        left: 0px;

        border-top: 140px solid #F8F8FF;
        border-right: 90vw solid transparent;
        color: white;
    }

    h1 {
        font-size: 2.5rem;
        color: rgba(255, 255, 255, 0.7);
        font-weight: 500;
        margin: 90px 0px 5px 0px;
    }
    span {
        width: 60px;
        border-bottom: 3px solid rgba(255, 255, 255, 0.6);
        border-radius: 10px;
        margin-bottom: 30px;
    }
    .icons {
        a {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.7);
            font-size: 3rem;
            &:hover {
                color: rgb(151, 9, 151);
            }
        }
    }
}