.experience-container {
    width: 66%;
    margin: 0px auto 0rem;
    .title {
        margin: 0 auto 8rem;
        h1 {
            text-align: center;
            font-size: 2rem;
            text-transform: uppercase;
            color: rgba(0, 0, 0, 0.8);
            text-align: center;
            letter-spacing: 0.15rem;
            word-spacing: 0.3rem;
        }
    }
    .experience-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .experience-description {
            max-width: 450px;
            h3 {
                font-size: 1.5rem;
                text-transform: uppercase;
                color: rgba(0, 0, 0, 0.7);
                margin-bottom: 1rem;
            }
            p {
                letter-spacing: 0.6px;
                font-size: 1.15rem;
                color: rgba(0, 0, 0, 0.7);
                margin-bottom: 1.8rem;
            }
        }
        .icons > img {
            max-width: 120px;
            height: auto;
            margin: 0 1.8rem;
        }
    }
}

@media screen and (max-width: 1650px) {
    .experience-container {
        width: 78%;
    }
}

@media screen and (max-width: 1650px) {
    .experience-container .title h1 {
        font-size: 1.7rem;
    }
    .experience-container .experience-flex .experience-description {
        h3 {
            font-size: 1.3rem;
        }
        p {
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 1420px) {
    .experience-container {
        width: 85%;
    }
    .icons img {
        max-width: 110px;
        height: auto;
        margin: 0px 1.5rem;
    }
}
@media screen and (max-width: 1150px) {
    .experience-flex {
        flex-direction: column !important;
    }
    .icons {
        max-width: 500px;
    }
    .icons img {
        margin: 0 1.2rem !important;
    }
    .experience-container .experience-flex .icons img {
        &:hover {
            transform: scale(1);
            box-shadow: none;
        }
    }

}

@media screen and (max-width: 678px) {
    .experience-container .experience-flex .icons img {
        max-width: 80px;
        height: auto;
        margin: 0 1rem;
    }
    .experience-container .title h1 {
        font-size: 1.55rem;
    }
    .experience-container .experience-flex .experience-description {
        h3 {
            font-size: 1.15rem;
        }
        p {
            font-size: 0.85rem;
        }
    }
    .experience-container .title {
        margin:  0 auto 5rem;
    }
}

@media screen and (max-width: 430px) {
    .experience-container .title {
        margin:  0 auto 4rem;
        h1 {
            font-size: 1.2rem;
        }
    }
    .experience-container .experience-flex .experience-description {
        h3 {
            font-size: 1rem;
        }
        p {
            font-size: 0.75rem;
        }
    }
    .experience-container .experience-flex .icons img {
        max-width: 60px;
        height: auto;
    }
}

@media screen and (max-width: 350px) {
    .experience-container .experience-flex .icons img {
        max-width: 40px;
        height: auto;
    }
}
